{{> head }}
<tr>
  <td
    align="center"
    bgcolor="#ffffff"
    style="
      padding: 0 20px 40px 20px;
      color: #777777;
      font-family: Arial, sans-serif;
      font-size: 18px;
      line-height: 30px;
      border-bottom: 1px solid #f6f6f6;
    "
  >
    <p>Olá {{name}},</p>
    <p>
      Parece que você esqueceu sua senha, mas não se preocupe, iremos
      redefiní-la para você.
    </p>
    <p>
      Geramos um token de redefinição de senha, você terá 24 horas para
      utilizá-lo até que ele expire. Basta clicar no link abaixo:
    </p>
    <br />
    <p><strong>Código de segurança:</strong> {{code}}</p>
    <p>
      <strong>Link de redefinção de senha: </strong>
      <a href="{{url}}" target="_blank">Redefinir senha</a>
    </p>
    <p>
      Mas lembre-se, caso não tenha sido você quem fez esta solicitação, por
      favor, ignore este e-mail. Ele perderá sua validade em breve.
    </p>
  </td>
</tr>
{{> footer }}
